[submodule "resources/lang"]
	path = resources/lang
	url = https://github.com/GhostlyMC/lang-lobby
[submodule "src/zomarrd/ghostly/modules/form"]
	path = src/zomarrd/ghostly/modules/form
	url = https://github.com/GhostlyMC/FormAPI
